[Desktop Entry]
Name=emtooth2
Comment=A bluetooth manager designed for embedded devices
Type=Application
Version=0.1
Exec=emtooth2
Icon=emtooth2
Terminal=false
Categories=Application;Utility;
StartupNotify=true
