[Desktop Entry]
Name=emtooth2
Comment=A bluetooth manager designed for embedded devices
Type=Application
Version=1.0
Exec=emtooth2
Icon=emtooth2
Terminal=false
Categories=Applications;Utility;
StartupNotify=true
